@model ApplicationDetailsViewModel

<div class="application-property">
    <p class="application-property-label">First name:</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.FirstName, new { @placeholder = "First name", @class = "application-property-edit" })
    }
    else
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.FirstName, new { @readonly = "true", @placeholder = "First name", @class = "application-property-edit" })
    }
</div>

<div class="application-property">
    <p class="application-property-label">Last name:</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.LastName, new { @placeholder = "Last name", @class = "application-property-edit" })
    }
    else
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.LastName, new { @readonly = "true", @placeholder = "Last name", @class = "application-property-edit" })
    }
</div>

<div class="application-property">
    <p class="application-property-label">Email address:</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.Email, new { @placeholder = "Email address", @class = "application-property-edit" })
    }
    else
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.Email, new { @readonly = "true", @placeholder = "Email address", @class = "application-property-edit" })
    }
</div>

<div class="application-property">
    <p class="application-property-label">CV - file:</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.CV, new { @placeholder = "CV", @class = "application-property-edit" })
    }
    else
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.CV, new { @readonly = "true", @placeholder = "CV", @class = "application-property-edit" })
    }
</div>

<div class="application-property">
    <p class="application-property-label">Other attachments:</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.OtherAttachments, new { @placeholder = "Attachments", @class = "application-property-edit" })
    }
    else
    {
        @Html.TextBoxFor(modelItem => Model.ApplicationModel.OtherAttachments, new { @readonly = "true", @placeholder = "Attachments", @class = "application-property-edit" })
    }
</div>

<div class="application-property">
    <p class="application-property-label">Message for recruiters (optional):</p>
    @if (Model.IsEditing == true)
    {
        @Html.TextAreaFor(modelItem => Model.ApplicationModel.Message, new { @placeholder = "Message for recruiters (optional)", @class = "application-property-edit application-property-textarea" })
    }
    else
    {
        @Html.TextAreaFor(modelItem => Model.ApplicationModel.Message, new { @readonly = "true", @placeholder = "Message for recruiters (optional)", @class = "application-property-edit application-property-textarea" })
    }
</div>
