@using HR_Project.Enums;
@using HR_Project.ExtensionMethods;

<div class="topbar">
    <div class="topbar-logo-area">
        @Html.ActionLink("", "Index", "JobOffer", null, new { @class = "topbar-logo" })
    </div>
    <div class="topbar-buttons-area">
        @Html.ActionLink("Job Offers", "Index", "JobOffer", null, new { @class = "topbar-button job-offers-icon" })
        @if (User.Identity.IsAuthenticated)
        {
            @switch (Context.Session.Get<UserRole>("LoggedUserRole"))
            {
                case HR_Project.Enums.UserRole.User:
                    @Html.ActionLink("My applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
                    break;
                case HR_Project.Enums.UserRole.HR:
                    @Html.ActionLink("Applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
                    break;
                case HR_Project.Enums.UserRole.Admin:
                    @Html.ActionLink("Applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
                    @Html.ActionLink("Manage users", "Index", "UserManagement", null, new { @class = "topbar-button users-icon" })
                    break;
                default:
                    break;
            }
        }
    </div>
    <div class="topbar-user-area">
        <div class="topbar-button topbar-user-button user-icon">
            <div class="topbar-user-caption-area">
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="topbar-user-name">@User.Claims.ElementAt(1).Value @User.Claims.ElementAt(2).Value</p>
                    @Html.ActionLink("Sign out", "SignOut", "Account", new { Area = "AzureADB2C" }, new { @class = "topbar-log topbar-logout" })
                }
                else
                {
                    @Html.ActionLink("Sign in", "SignIn", "Account", new { Area = "AzureADB2C" }, new { @class = "topbar-log topbar-user-name" })
                }
            </div>
        </div>
    </div>
</div>