@using HR_Project.Enums;
@using HR_Project.ExtensionMethods;

<div class="topbar">
    <div class="topbar-logo-area">
        @Html.ActionLink("", "Index", "JobOffer", null, new { @class = "topbar-logo" })
    </div>
    <div class="topbar-buttons-area">
        @Html.ActionLink("Job Offers", "Index", "JobOffer", null, new { @class = "topbar-button job-offers-icon" })
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole(UserRole.User))
            {
                @Html.ActionLink("My applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
            }
            else if (User.IsInRole(UserRole.HR))
            {
                @Html.ActionLink("Applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
            }
            else if (User.IsInRole(UserRole.Admin))
            {
                @Html.ActionLink("Applications", "Index", "Application", null, new { @class = "topbar-button application-icon" })
                @Html.ActionLink("Manage users", "Index", "UserManagement", null, new { @class = "topbar-button users-icon" })
            }
        }
    </div>
    <div class="topbar-user-area">
        <div class="topbar-button topbar-user-button user-icon">
            <div class="topbar-user-caption-area">
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="topbar-user-name">@User.GetFirstName() @User.GetLastName()</p>
                    @Html.ActionLink("Sign Out", "SignOut", "Login", null, new { @class = "topbar-log topbar-logout" })
                }
                else
                {
                    @Html.ActionLink("Sign In", "SignIn", "Login", null, new { @class = "topbar-log topbar-user-name" })
                }
            </div>
        </div>
    </div>
</div>