@model HR_Project.ViewModels.JobOfferDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<body>
    <h1> Job offer details: </h1>
    @using (Html.BeginForm("Save", "JobOffer", new { id = Model.JobOfferModel.Id }, FormMethod.Post))
    {
        <div class="list-item">
            <div class="list-item-primary">
                <div class="list-item-title">
                    <h2 class="list-item-title-main">@Html.DisplayFor(modelItem => Model.JobOfferModel.JobTitle) </h2>
                    <p class="list-item-title-details">
                        Status:
                        <span class="joboffer-status @Model.JobOfferModel.StatusCssClass">@Html.DisplayFor(modelItem => Model.JobOfferModel.Status)</span>
                    </p>
                </div>
            </div>
            @if (Model.IsEditing == true)
            {
                <div class="list-item-secondary">
                    <input type="submit" class = "btn button lightgreen" value="Save changes" />
                </div>
                <div class="list-item-tertiary">
                    @Html.ActionLink("Cancel changes", "Index", "JobOffer", null, new { @class = "btn button" })
                    @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button lightred" })
                </div>
            }
            else
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Edit Offer", "Details", new { id = Model.JobOfferModel.Id, isEditing = true }, new { @class = "btn button" })
                    @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button lightred" })
                </div>
            }
        </div>
        <div class="list-item-description">
            @if (Model.IsEditing == true)
            {
                @Html.TextAreaFor(modelItem => Model.JobOfferModel.Description, new { @class = "description" })
            }
            else
            {
                @Html.TextAreaFor(modelItem => Model.JobOfferModel.Description, new { @readonly = "true", @class = "description" })
            }
        </div>
        <div class="list-item list-item-footer">
            <div class="list-item-primary">
                @Html.ActionLink("Back", "Index", "JobOffer", null, new { @class = "btn button button-back" })
            </div>
            @if (Model.IsEditing == true)
            {
                <div class="list-item-secondary">
                    <input type="submit" class = "btn button lightgreen" value="Save changes" />
                </div>
                <div class="list-item-tertiary">
                    @Html.ActionLink("Cancel changes", "Index", "JobOffer", null, new { @class = "btn button" })
                    @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button lightred" })
                </div>
            }
            else
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Edit Offer", "Details", new { id = Model.JobOfferModel.Id, isEditing = true }, new { @class = "btn button" })
                    @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button lightred" })
                </div>
            }
        </div>
    }
</body>