@using HR_Project.Enums;
@using HR_Project.ExtensionMethods

@model JobOfferDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<body>
    <h1> Job offer details: </h1>
    @using (Html.BeginForm("Save", "JobOffer", new { id = Model.JobOfferModel.Id }, FormMethod.Post))
    {
        <div class="list-item">
            <div class="list-item-primary">
                <div class="list-item-title">
                    @if (Model.IsEditing == true && User.CanManageJobOffer(Model.JobOfferModel))
                    {
                        <h2 class="list-item-title-main">@Html.TextBoxFor(modelItem => Model.JobOfferModel.JobTitle, new { @class = "job-offer-textbox", @required = true }) </h2>
                    }
                    else
                    {
                        <h2 class="list-item-title-main">@Html.DisplayFor(modelItem => Model.JobOfferModel.JobTitle) </h2>
                    }
                    <p class="list-item-title-details">
                        Status:
                        <span class="joboffer-status @Model.JobOfferModel.StatusCssClass">@Html.DisplayFor(modelItem => Model.JobOfferModel.Status)</span>
                    </p>
                </div>
            </div>
            @if (Model.IsEditing == true && User.CanManageJobOffer(Model.JobOfferModel))
            {
                <div class="list-item-secondary">
                    <input type="submit" class="btn button list-item-button lightgreen" value="Save changes" />
                </div>
                <div class="list-item-tertiary">
                    @Html.ActionLink("Cancel changes", "Index", "JobOffer", null, new { @class = "btn button list-item-button" })
                    @if (Model.JobOfferModel.Status == JobOfferStatus.Active)
                    {
                        @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightred" })
                    }
                    else if (Model.JobOfferModel.Status == JobOfferStatus.Inactive)
                    {
                        @Html.ActionLink("Activate Offer", "Activate", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                    }
                </div>
            }
            else if (User.CanManageJobOffer(Model.JobOfferModel))
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Edit Offer", "Details", new { id = Model.JobOfferModel.Id, isEditing = true }, new { @class = "btn button list-item-button" })
                    @if (Model.JobOfferModel.Status == JobOfferStatus.Active)
                    {
                        @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightred" })
                    }
                    else if (Model.JobOfferModel.Status == JobOfferStatus.Inactive)
                    {
                        @Html.ActionLink("Activate Offer", "Activate", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                    }
                </div>
            }
            else if (User.IsInRole(UserRole.User) && Model.JobOfferModel.Status == JobOfferStatus.Active)
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Apply for job", "Apply", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                </div>
            }
        </div>
        <div class="list-item-description">
            @if (Model.IsEditing == true && User.CanManageJobOffer(Model.JobOfferModel))
            {
                @Html.TextAreaFor(modelItem => Model.JobOfferModel.Description, new { @class = "description", @required = "true" })
            }
            else
            {
                @Html.TextAreaFor(modelItem => Model.JobOfferModel.Description, new { @readonly = "true", @class = "description" })
            }
        </div>
        <div class="list-item list-item-footer">
            <div class="list-item-primary">
                @Html.ActionLink("Back", "Index", "JobOffer", null, new { @class = "btn button list-item-button list-item-button button-back" })
            </div>
            @if (Model.IsEditing == true && User.CanManageJobOffer(Model.JobOfferModel))
            {
                <div class="list-item-secondary">
                    <input type="submit" class="btn button list-item-button lightgreen" value="Save changes" />
                </div>
                <div class="list-item-tertiary">
                    @Html.ActionLink("Cancel changes", "Index", "JobOffer", null, new { @class = "btn button list-item-button" })
                    @if (Model.JobOfferModel.Status == JobOfferStatus.Active)
                    {
                        @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightred" })
                    }
                    else if (Model.JobOfferModel.Status == JobOfferStatus.Inactive)
                    {
                        @Html.ActionLink("Activate Offer", "Activate", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                    }
                </div>
            }
            else if (User.CanManageJobOffer(Model.JobOfferModel))
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Edit Offer", "Details", new { id = Model.JobOfferModel.Id, isEditing = true }, new { @class = "btn button list-item-button" })
                    @if (Model.JobOfferModel.Status == JobOfferStatus.Active)
                    {
                        @Html.ActionLink("Delete Offer", "Delete", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightred" })
                    }
                    else if (Model.JobOfferModel.Status == JobOfferStatus.Inactive)
                    {
                        @Html.ActionLink("Activate Offer", "Activate", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                    }
                </div>
            }
            else if (User.IsInRole(UserRole.User) && Model.JobOfferModel.Status == JobOfferStatus.Active)
            {
                <div class="list-item-tertiary">
                    @Html.ActionLink("Apply for job", "Apply", new { id = Model.JobOfferModel.Id }, new { @class = "btn button list-item-button lightgreen" })
                </div>
            }
        </div>
    }
</body>