@model IEnumerable<HR_Project.ViewModels.JobOfferViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Job Offers";
}

<body>
    <h1> Job offers: </h1>

    @foreach (var item in Model)
    {
        <div class="list-item">
            <div class="list-item-primary">
                <div class="list-item-title">
                    <h2 class="list-item-title-main">@Html.DisplayFor(modelItem => item.JobTitle) </h2>
                    <p class="list-item-title-details">
                        Status:
                        <span class="joboffer-status @item.StatusCssClass">@Html.DisplayFor(modelItem => item.Status)</span>
                    </p>
                </div>
                @Html.ActionLink("View Details", "Details", "JobOffer", new { id = item.Id, isEditing = false }, new { @class = "btn button" })
            </div>
            <div class="list-item-secondary">
                @*TODO: When search algorythm is implemented and connected to DB add some restrictions*@
                @Html.ActionLink("View Applications", "Index", "Application", null, new { @class = "btn button" })
            </div>
            <div class="list-item-tertiary">
                @Html.ActionLink("Edit Offer", "Details", new { id = item.Id, isEditing = true }, new { @class = "btn button" })
                @Html.ActionLink("Delete Offer", "Delete", new { id = item.Id }, new { @class = "btn button lightred" })
            </div>
        </div>
    }
</body>