@using HR_Project.Enums;
@using HR_Project.ExtensionMethods;
@model IEnumerable<ApplicationViewModel>
@{
    ViewData["Title"] = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1> Applications: </h1>

    @foreach (var item in Model)
    {
    <div class="list-item">
        <div class="list-item-primary">
            <div class="list-item-title">
                <h2 class="list-item-title-main">@Html.DisplayFor(modelItem => item.JobTitle) </h2>
                <p class="list-item-title-details">
                    Status:
                    <span class="application-status @item.StatusCssClass">@Html.DisplayFor(modelItem => item.Status)</span>
                </p>
            </div>
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
            {
                @Html.ActionLink("View Details", "Details", "Application", new { id = item.Id, isEditing = false }, new { @class = "btn button" })
            }
        </div>
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
        {
            <div class="list-item-secondary">
                @Html.ActionLink("Edit application", "Details", "Application", new { id = item.Id, isEditing = true }, new { @class = "btn button" })
            </div>
            <div class="list-item-tertiary">
                @if (item.Status != ApplicationStatus.Approved && item.Status != ApplicationStatus.Submitted)
                {
                    @Html.ActionLink("Send application", "Apply", "Application", new { id = item.Id }, new { @class = "btn button lightgreen" })
                }
                @if (item.Status == ApplicationStatus.Submitted)
                {
                    @Html.ActionLink("Withdraw", "Delete", "Application", new { id = item.Id }, new { @class = "btn button lightred" })
                }
            </div>
        }
    </div>
    }
</body>